@{
    Layout = "_LayoutAdmin";
}
@section CardHeader {
    <span>Dersi Sil</span>
}
@model LessonViewModel
<h2>Dersi Sil</h2>
<hr />
<h4>@Model.Title adlı ders silinecektir, Onaylıyor musunuz?</h4>

<form method="post" asp-action="Delete">
    <input type="hidden" asp-for="LessonId" />
    <input type="submit" value="Sil" class="btn btn-danger btn-sm" />
    <a asp-action="Index" class="btn btn-primary btn-sm">Vazgeç</a>
</form>
