<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/Admin">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-graduation-cap"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Eğitim Portalı</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="/Admin">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Kontrol Paneli</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Yönetim
    </div>

    <!-- Nav Item - Courses -->
    <li class="nav-item">
        <a class="nav-link" href="/Home/Index">
            <i class="fas fa-fw fa-book"></i>
            <span>Ana Sayfa</span>
        </a>
    </li>

    <!-- Nav Item - Users -->
    <li class="nav-item">
        <a class="nav-link" href="/Admin/Users">
            <i class="fas fa-fw fa-users"></i>
            <span>Kullanıcılar</span>
        </a>
    </li>

    <!-- Nav Item - Courses -->
    <li class="nav-item">
        <a class="nav-link" href="/Admin/Courses">
            <i class="fas fa-fw fa-book"></i>
            <span>Kurs Yönetimi</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->
