@{
    Layout = "_LayoutAdmin";
}
@model EducationPortal.ViewModels.CourseViewModel
@section CardHeader {
    <span>Kurs Ekle</span>
}

<div class="row">
    <div class="col-md-4">
        <form asp-controller="Course" asp-action="Add" method="post">

            <div class="mb-2">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" />
                <span class="text-danger" asp-validation-for="Title"></span>
            </div>
            <div class="mb-2">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                <span class="text-danger" asp-validation-for="Description"></span>
            </div>
            <div class="mb-2">
                <label asp-for="ThumbnailImagePath"></label>
                <textarea asp-for="ThumbnailImagePath" class="form-control" rows="3"></textarea>
                <span class="text-danger" asp-validation-for="ThumbnailImagePath"></span>
            </div>
            <div class="mb-2">
                <input type="submit" value="Kaydet" class="btn btn-primary btn-sm" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
